@charset "utf-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body{
    padding: 2 5px;
	width: 1060px;
}

.wrapper{
    max-width: 500px;
    width: 100%;
    background: white;
	opacity: 90%;
    margin: 20px auto;
    padding: 45px;
}

h1{
    text-align: center;
}
